body {
	font-size: 16px;
	background: rgb(235, 235, 235);

}

a
{
  text-decoration: none;
}

ul li
{
  list-style: none;
}

ul li a
{
 text-decoration: none; 
}

h1
{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 18px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: center;
}

h3
{
  text-transform: uppercase;
  font-size: 15px;
  line-height: 30px;
  color: black;
  margin-bottom: 2.3em;
  padding-bottom: .5em;
}

.headerbar{
	height: 90vh;
	background: url(../images/background.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.headerbar_information{
	width: 100%;
	height: 100%;
	text-align: center;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
		align-items: center;
		justify-content: center;
}
.user{
	color:black;
}
.headerbar_userimage {
	margin-top: 15px; 
	padding: 10px ;
}
.headerbar_userimage img {
	width: 140px;
	height: 140px;
	cursor: pointer;
	border-radius: 80px;
}
.principal-container{
	position: relative;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.block-container{
	text-align: center;
	position: relative;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}
@media screen and (min-width: 300px) and (max-width: 800px){
 .block-container{
  display: inline-block;
}
 }
.block{
	margin: 15px;
	padding: 15px;
	background-color: #D9DFE8;
}
.social-media ul li {
	display: inline-block;
}

footer {
	position: static;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
		align-items: center;
		justify-content: center;
}
.footerbar{
	background-color: #4C4C49;
	height:40vh;
}
.create{
	color:rgb(235, 235, 235);;
}
.icon {
	margin-left: 10px;
	font-size: 24px;
	color: rgb(235, 235, 235);;
}

.icon-facebook2:hover{
	color:rgb(59, 89, 152);
}

.icon-twitter:hover{
	color:rgb(0, 172, 237);
}
.icon-google-plus2:hover{
	color:rgb(221, 75, 57);
}

.icon-linkedin:hover{
	color:rgb(0, 123, 181);
}
.icon-github4:hover{
	color:#333333;
}
.icon-dropbox:hover{
	color:#007ee5;
}












